
[access]
	inheritFrom = Platform-Unrestricted-Projects
[project]
	description = Bug: 237683213
[access "refs/heads/temp-migration"]
	push = +force group temp-b245954369
	forgeAuthor = group temp-b245954369
	forgeCommitter = group temp-b245954369
	forgeServerAsCommitter = group temp-b245954369
	pushMerge = group temp-b245954369
	read = group temp-b245954369
