
[access]
	inheritFrom = Platform-Unrestricted-Projects
[project]
	description = Bug: 237683213
[access "refs/heads/emu-master-dev"]
	forgeAuthor = group temp_ipalant_permissions
	forgeCommitter = group temp_ipalant_permissions
	forgeServerAsCommitter = group temp_ipalant_permissions
	pushMerge = group temp_ipalant_permissions
